
@{
    Layout = null;
}

<div class="widget mt-4">
    <ul class="list-unstyled sidebar-nav mb-0" id="navmenu-nav">
        <li class="navbar-item account-menu px-0 mt-2">
            <a href="~/UserProfile/MyAccount" class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                <span class="h4 mb-0"><i class="uil uil-setting"></i></span>
                <h6 class="mb-0 ms-2">Profile</h6>
            </a>
        </li>

        <li class="navbar-item account-menu px-0 mt-2">
            <a href="~/UserProfile/Courses" class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                <span class="h4 mb-0"><i class="uil uil-users-alt"></i></span>
                <h6 class="mb-0 ms-2">Courses in Enroll</h6>
            </a>
        </li>

        <li class="navbar-item account-menu px-0 mt-2">
            <a href="~/UserProfile/Exams" class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                <span class="h4 mb-0"><i class="uil uil-file"></i></span>
                <h6 class="mb-0 ms-2">Examination</h6>
            </a>
        </li>

        <li class="navbar-item account-menu px-0 mt-2">
            <a href="~/UserProfile/Results" class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                <span class="h4 mb-0"><i class="uil uil-envelope-star"></i></span>
                <h6 class="mb-0 ms-2">Results & Certificates</h6>
            </a>
        </li>

        <li class="navbar-item account-menu px-0 mt-2">
            <a href="~/UserProfile/Payments" class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                <span class="h4 mb-0"><i class="uil uil-transaction"></i></span>
                <h6 class="mb-0 ms-2">Payments</h6>
            </a>
        </li>

        <li class="navbar-item account-menu px-0 mt-2">
            <a href="~/Account/Logout" class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                <span class="h4 mb-0"><i class="uil uil-dashboard"></i></span>
                <h6 class="mb-0 ms-2">Logout</h6>
            </a>
        </li>
    </ul>
</div>
